body {
    padding-left: 10%;
}

header, main {
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.video-container {
    display: inline-block;
    padding: 1%;
}

aside {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

footer {
    background: #333;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    font-size: medium;
    color: dimgrey;
}

a {
    text-decoration: none;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid darkgrey;
    border-radius: 2px;
    outline: none;
}

input:focus {
    border: 2px solid dimgrey;
}

/* Стили панели навигации */
.navbar p {
    color: darkgray;
    padding-left: 15%;
    margin: 20px 0;
}

/* Стили панели навигации при наведении мышью */
.navbar p:hover {
    color: #3d873b;
}

/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

header, footer, body, .video-container {
    background-color: #cbd0d1;
}