<div class="slider">
    <div class="slider-list">
        <div class="slider-track">
            <div class="slide"><img class="slider img" src="../Static/Pictures/spb.jpg"/></div>
            <div class="slide"><img class="slider img" src="../Static/Pictures/london.jpg" /></div>
            <div class="slide"><img class="slider img" src="../Static/Pictures/ny.jpg" /></div>
        </div>
    </div>

    <!--Кнопки навигации-->
    <div class="slider-arrows">
        <button type="button" class="prev">&larr;</button>
        <button type="button" class="next">&rarr;</button>
    </div>
</div>